/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.tt-title
{
    justify-content: space-between;
    align-items: unset;
}

.tt-title-content
{
    flex-grow: 1;
}

.flexblock
{
    overflow: hidden;
    width: 100px;
    max-height: 1rem;
    text-align: end;
}

.statusBarTypingIndicator input[type="text"]
{
    display: flex;
    justify-content: flex-end;
    text-align: center;
    width: 5rem;
}

.textbox input[type="text"] 
{
    text-align: center;
    width: 3rem;
}

.setting-item .setting-item-control .invalid-format {
    border-color: orangered;
}

